# Flask core
Flask==3.1.2
Werkzeug==3.1.4
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.1
blinker==1.9.0
colorama==0.4.6
Flask-Mail
# Database
SQLAlchemy==2.0.44
Flask-SQLAlchemy==3.1.1
greenlet==3.2.4
typing_extensions==4.15.0

# Auth & Security
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
bcrypt==5.0.0

# WSGI server (untuk Render startCommand)
gunicorn==23.0.0

# PostgreSQL driver (untuk DATABASE_URL di Render)
psycopg2-binary==2.9.11